:root{
            --text-primary: #252323;
            --accent: #70798C;
            --primary: #F5F1ED;
            --secondary: #DAD2BC;
            --terciary: #A99985;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--primary);
    color: var(--text-primary);
    margin: 0;
    padding 0;
  }

a{
  text-decoration: none;
  color: var(--text-primary);
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.day-box {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.task-list {
    margin-left: 20px;
}

.task-list ul {
    list-style-type: none;
    padding: 0;
}

.admin-section table {
    width: 100%;
    border-collapse: collapse;
}

.admin-section th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
